{
  "openapi": "3.1.1",
  "info": {
    "title": "Omar Yusuf portfolio public HTTP endpoints",
    "version": "1.0.0",
    "description": "A personal portfolio, not an open automation platform. Public read-only routes require no API key. Contact and analytics writes are first-party, anti-abuse protected functionality, not unrestricted agent actions. The owner-only CMS is deliberately excluded."
  },
  "servers": [
    {
      "url": "https://omaryusuf.se",
      "description": "Public portfolio"
    }
  ],
  "tags": [
    {
      "name": "Site",
      "description": "Read-only site configuration."
    },
    {
      "name": "Workshop",
      "description": "Public prewritten workshop card data."
    },
    {
      "name": "First-party only",
      "description": "Endpoints used by the portfolio UI, not a general automation API."
    }
  ],
  "paths": {
    "/api/config": {
      "get": {
        "tags": [
          "Site"
        ],
        "operationId": "getSiteConfig",
        "summary": "Check optional analytics availability",
        "description": "Returns whether voluntary analytics collection is enabled. Does not start tracking or imply consent.",
        "responses": {
          "200": {
            "description": "Site configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "analytics"
                  ],
                  "properties": {
                    "analytics": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/contact/config": {
      "get": {
        "tags": [
          "Site"
        ],
        "operationId": "getContactConfig",
        "summary": "Check whether the contact form is available",
        "description": "Read-only form configuration. The sitekey is a public Turnstile widget key only when the contact form is configured; it is not an API authentication credential.",
        "responses": {
          "200": {
            "description": "Contact form availability",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "enabled",
                    "sitekey"
                  ],
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "sitekey": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/contact": {
      "post": {
        "tags": [
          "First-party only"
        ],
        "operationId": "submitContactForm",
        "summary": "Send a human contact form message",
        "description": "First-party form submission only. Requires same-origin request, a valid Cloudflare Turnstile token bound to this hostname/action, honeypot, UUID submission id, and configured mail delivery. Rate-limited to five attempts per 60 seconds per hashed IP address and per hashed sender email; no public API keys or automated sender integration are offered. The handler returns JSON and never stores a public contact message.",
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "description": "Must exactly match this site origin.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "email",
                  "website",
                  "token",
                  "submission"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 4000,
                    "description": "Optional plain-text message."
                  },
                  "website": {
                    "type": "string",
                    "const": "",
                    "description": "Must be empty (spam honeypot)."
                  },
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "description": "Fresh Cloudflare Turnstile token from the site widget."
                  },
                  "submission": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Client-generated version 4 UUID used for idempotency."
                  },
                  "contentVersion": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Optional nonnegative CMS content version."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            }
          },
          "405": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            }
          },
          "413": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            }
          },
          "415": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            }
          },
          "429": {
            "description": "Form submission rate-limited. Respect Retry-After before retrying.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Minimum seconds to wait after a denied submission.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "RateLimit": {
                "description": "Contact quota is exhausted for this request: r=0 and t=60 seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "Five submissions per 60 seconds per hashed IP or sender email.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            }
          }
        }
      }
    },
    "/api/event": {
      "post": {
        "tags": [
          "First-party only"
        ],
        "operationId": "recordConsentedSiteEvent",
        "summary": "Record one consented website event",
        "description": "Optional first-party telemetry, disabled unless explicitly configured. Rejects cross-origin use, missing/denied consent, GPC/DNT and unknown data. Not a public analytics ingestion API. Maximum body is 256 bytes.",
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "description": "Must exactly match this site origin.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "X-OY-Consent",
            "in": "header",
            "required": true,
            "description": "Literal v1 after affirmative consent in the first-party webpage.",
            "schema": {
              "type": "string",
              "const": "v1"
            }
          },
          {
            "name": "oy_privacy",
            "in": "cookie",
            "required": true,
            "description": "Consent cookie, value v1.allow; GPC and DNT still override it.",
            "schema": {
              "type": "string",
              "const": "v1.allow"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "event",
                  "page"
                ],
                "properties": {
                  "event": {
                    "type": "string",
                    "enum": [
                      "page_view",
                      "joy",
                      "bubble_complete",
                      "project_open"
                    ]
                  },
                  "page": {
                    "type": "string",
                    "description": "Exact indexable site path from the sitemap."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Event accepted; no response body."
          },
          "400": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/data/cards.json": {
      "get": {
        "tags": [
          "Workshop"
        ],
        "operationId": "listWorkshopCards",
        "summary": "Read prewritten workshop cards",
        "description": "Returns the publicly published set of humor, encouragement, pause and playful roast cards. Cards are editorial content, not individualized advice. They can change when the owner publishes CMS updates.",
        "responses": {
          "200": {
            "description": "Public card list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/data/runtime.json": {
      "get": {
        "tags": [
          "Workshop"
        ],
        "operationId": "getWorkshopRuntime",
        "summary": "Read published workshop runtime settings",
        "description": "The publicly published workshop runtime settings. The content may be updated through the owner-only CMS; no configuration writes are exposed.",
        "responses": {
          "200": {
            "description": "Runtime data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "405": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/data/cards/{id}.json": {
      "get": {
        "tags": [
          "Workshop"
        ],
        "operationId": "getPublishedWorkshopCard",
        "summary": "Read a CMS-published individual card",
        "description": "Available when a matching card has been published through the owner-only CMS. Not all installations or card IDs have a dedicated URL.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,80}$"
            },
            "description": "Published card identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Single public card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "404": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Request rejected; read the code and hint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Card": {
        "type": "object",
        "required": [
          "id",
          "flavor",
          "text"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "flavor": {
            "type": "string",
            "enum": [
              "kind",
              "joke",
              "pause",
              "roast"
            ]
          },
          "text": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "code",
          "hint"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "hint": {
            "type": "string"
          }
        }
      },
      "ContactError": {
        "type": "object",
        "required": [
          "ok",
          "message",
          "code",
          "hint"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": false
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "hint": {
            "type": "string"
          }
        }
      }
    }
  }
}
